
/* p{ 
    color: blue;
    background-color: brown;
}
.p{
       color: blueviolet;
       background-color: aqua;
}
#as{
    font-size: 30px;

}*/
h1{
    text-align: center;
 }
 p{
    color: red;
 }
 div{
    border: 10px solid blue;
margin: 30px;
padding-bottom:30px ;
 }